body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

* {
    box-sizing: border-box;
}

.topo {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 17px;
}

.topo h1 {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    color: #75B79E;
}

.relogio {
    width: 60px;
    height: 30px;
    background-color: #75B79E;
    border-radius: 8px;
    box-shadow: 0 0 1em silver;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5px;
    right: 5px;
    color: #EEF9BF;
}

.conteudo {
    display: flex;
    justify-content: center;
    max-width: 906px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.carta {
    width: 117px;
    height: 146px;
    margin: 0 17px 34px 17px;
    position: relative;
}

.carta img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

 .carta:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
    
  .back-face {
    transform: rotateY(180deg);
  }

  .back-face.virar {
    transform: rotateY(0deg);
  }

  .front-face.virar {
    transform: rotateY(-180deg);
  }

@media (max-width: 414px) {

    .topo {
        padding: 0 25px;
    }

    .topo h1 {
        font-size: 36px;
    }

    .conteudo {
        flex-direction: column;
        align-items: center;
    }
}